.cardsList {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.card {
  display: block;
  width: 80px;
  height: 100px;
  background: red;
  border-radius: 8px;
  margin: 0 10px 15px 0;
  border: 1px solid #da5151;
  transition: 0.3s;
}
.card--close {
  background-color: #da5151 !important;
  transition: 0.3s;
}